

.portfolio {
    margin: auto;
    margin-block: 20px;
    padding: 15px;
    width: 70%;
    /* box-shadow: whitesmoke 0px 1px 7px; */
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    height: auto;
}

.portfolio-header {
    text-align: center;
    border-bottom: 2px solid teal;
    padding: 10px;
}

.portfolio-name {
    font-family: "Graduate", serif;
    font-size: 40px;
    letter-spacing: 1px;
}

.portfolio-job-title {
    font-family: "Trochut", sans-serif;
}

.portfolio-summary {
    margin-block: 10px;
    font-size: 16px;
}

.portfolio-contact-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.portfolio-contact-links a {
    text-decoration: underline;
    color: white;
}

.portfolio-contact-links a:hover {
    text-decoration: none;
}

.portfolio-content {
    display: flex;
}

.portfolio-content-left {
    flex: 40%;
    margin-left: 20px;
}

.portfolio-content-right {
    flex: 60%;
}

.portfolio-content h2, .portfolio-contents h1 {
    text-decoration: underline;
    margin-bottom: 5px;
}

.portfolio-content li {
    list-style: square;
    list-style-position: outside;
}

.portfolio-content-sub-section {
    margin-block: 10px;
}

.portfolio-content-right .portfolio-content-sub-section {
    border-bottom: 1px solid white;
}

.portfolio-content-sub-section div {
    margin-bottom: 5px;
}


.experience-margin {
    margin-block: 10px;
}

.experience-margin ul {
    margin-top: 10px;
}

.portfolio-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block: 20px;
}

.portfolio-btn button {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-inline: 10px;
    transition: all 0.3s ease-in-out;
}

.portfolio-btn button:hover {
    background-color: white;
    color: teal;
}

