
.navBar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

.navBar a {
    padding: 5px;
    font-size: 20px;
    color: white;
    font-family: "Kode Mono", monospace;
    transition: all 0.2s ease-in-out;
}

.navBar a:hover, .navBar a:focus {
    background-color: #36d1c4;
    color: #36626a;
    letter-spacing: 1px;
}