@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap')
/* font-family: "Truculenta", sans-serif; */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;  
    padding-inline: 10px;
    border-inline: 1px solid black;
}