
.home-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-image {
    background-color: black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.title-position {
    align-self: flex-start;
}

.home-introduction {
    align-self: flex-start;
}

.home-introduction p {
    margin-block: 10px;
}

